# Django
*.pyc
__pycache__/
db.sqlite3
/media/
/staticfiles/

# Entorno virtual
env/
venv/
ENV/
.venv/

# Variables de entorno
.env

# IDEs y editores
.vscode/
.idea/
.DS_Store

# Node (cuando agregues el front)
node_modules/
dist/
build/
